<div class="overflow-x-auto w-full">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Name</th>
        <th>Industries</th>
        <th>Segments</th>
        <th>Business Models</th>
        <th>Round</th>
        <th>HQ City</th>
        <th>HQ Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody is="turbo-frame" id="companies">
      <%= render @companies %>
    </tbody>
  </table>
</div>
