<div class="overflow-x-auto w-full">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Name</th>
        <th>Industries</th>
        <th>Segments</th>
        <th>Revenue</th>
        <th>Cash burn</th>
        <th>Gross Profit</th>
        <th>Gross Profit (%)</th>
        <th>EBITDA</th>
        <th>Cash on hand</th>
        <th>Next Fundraise</th>
      </tr>
    </thead>
    <tbody is="turbo-frame" id="companies">
      <%= render @company_entries %>
    </tbody>
  </table>
</div>
