<div class="drawer drawer-end">
  <input id="detail-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="sm:flex sm:items-center mb-4">
      <div class="sm:flex-auto">
        <div class="text-sm breadcrumbs">
          <ul>
            <li class="text-base font-semibold leading-6 text-base-content breadcrumbs"><%= link_to "Companies", companies_path %></li>
          </ul>
        </div>
        <p class="mt-2 text-sm text-base-content">
          A list of all the companyes in the database. Click a company's name to explore the company's financials.
        </p>
      </div>
      <div class="col-sm-6 text-end">
        <%#= link_to "Add New Company", new_company_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="my-8">
      <%== pagy_nav(@pagy) %>
    </div>

    <%= render "table", locals: { companies: @companies } %>
  </div> 
  <div class="drawer-side">
    <label for="detail-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>