<%= turbo_stream.update :company_entries_table  do %>
  <label class="label cursor-pointer w-52">
    <span class="label-text">Annualized?</span>
    <%= check_box_tag 'tos', 'on', @annualized, class: 'checkbox', data: {
      action: "change->toggle-drawer#load",
      toggle_drawer_url_param: company_company_entries_path(@company, annualized: @annualized)
    } %>
  </label>
  <%= render partial: "company_entries/table", locals: { 
    company_entries: @company_entries, 
    annualized: @annualized, 
    company: @company 
  } %>
<% end %>
  
